{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.async {:mvn/version "0.6.532"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        net.mikera/core.matrix {:mvn/version "0.62.0"}
        net.mikera/vectorz-clj {:mvn/version "0.48.0"}
        org.suskalo/farolero {:mvn/version "1.4.3"}

        org.lwjgl/lwjgl {:mvn/version "3.2.3"}
        org.lwjgl/lwjgl-glfw {:mvn/version "3.2.3"}
        org.lwjgl/lwjgl-opengl {:mvn/version "3.2.3"}
        org.lwjgl/lwjgl-openal {:mvn/version "3.2.3"}
        org.lwjgl/lwjgl-stb {:mvn/version "3.2.3"}}
 :aliases
 {:linux {:extra-deps {org.lwjgl/lwjgl$natives-linux {:mvn/version "3.2.3"}
                       org.lwjgl/lwjgl-glfw$natives-linux {:mvn/version "3.2.3"}
                       org.lwjgl/lwjgl-opengl$natives-linux {:mvn/version "3.2.3"}
                       org.lwjgl/lwjgl-openal$natives-linux {:mvn/version "3.2.3"}
                       org.lwjgl/lwjgl-stb$natives-linux {:mvn/version "3.2.3"}}}
  :windows {:extra-deps {org.lwjgl/lwjgl$natives-windows {:mvn/version "3.2.3"}
                         org.lwjgl/lwjgl-glfw$natives-windows {:mvn/version "3.2.3"}
                         org.lwjgl/lwjgl-opengl$natives-windows {:mvn/version "3.2.3"}
                         org.lwjgl/lwjgl-openal$natives-windows {:mvn/version "3.2.3"}
                         org.lwjgl/lwjgl-stb$natives-windows {:mvn/version "3.2.3"}}}
  :dev {:extra-paths ["dev"]
        :extra-deps {com.taoensso/timbre {:mvn/version "4.10.0"}
                     io.github.IGJoshua/cljsl {:git/sha "5d8bc2bfccb2bc05a5075564d3802919ba9052d8"}}}
  :example {:extra-paths ["dev"]
            :extra-deps {com.taoensso/timbre {:mvn/version "4.10.0"}
                         IGJoshua/cljsl {:git/url "https://github.com/IGJoshua/cljsl"
                                         :sha "5d8bc2bfccb2bc05a5075564d3802919ba9052d8"}}
            :ns-default examples}
  :debug/leak-check {:jvm-opts ["-Dorg.lwjgl.util.Debug=true"]}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "0.10.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}}}
